 .u-section-1 {
  min-height: 932px;
  background-image: none;
}

.u-section-1 .u-group-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 494px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 110px 30px 30px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -247px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 377px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 311px;
  width: 238px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 381px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 311px;
  width: 238px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 311px;
  width: 238px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 10px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 311px;
  width: 238px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  letter-spacing: 0px;
  width: 428px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 60px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 848px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-1 .u-image-1 {
    height: 282px;
    width: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 314px;
  }

  .u-section-1 .u-image-2 {
    height: 282px;
    width: 216px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 308px;
  }

  .u-section-1 .u-image-3 {
    height: 282px;
    width: 216px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 308px;
  }

  .u-section-1 .u-image-4 {
    height: 282px;
    width: 216px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 915px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 280px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 398px;
  }

  .u-section-1 .u-image-2 {
    width: 280px;
    margin-right: 37px;
    margin-left: 30px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 280px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 280px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1148px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 95px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 230px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-image-3 {
    width: 230px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 230px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1945px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-1 .u-image-1 {
    width: 260px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 398px;
  }

  .u-section-1 .u-image-2 {
    width: 260px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 398px;
  }

  .u-section-1 .u-image-3 {
    width: 260px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 398px;
  }

  .u-section-1 .u-image-4 {
    width: 260px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-text-10 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}